@font-face {
  font-family: myFirstFont;
  src: url(../font/SCRIPTIN.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

/*banner & menu*/

#banner{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1)),url(image/3394.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    position: relative;
}
.navbar-nav{
    text-transform: uppercase;
    position: sticky;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    background-color: #CE0000;
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #CE0000;
    color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #CE0000 !important;
    text-decoration: none;
    
}
.dropdown, .dropup {
    position: relative;
    z-index: 999999999999;
}
.symbol{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-right: 15px;
}
.symbol img{
    width: 100%;
    height: 100%;
}
.navbar{
    background-color: transparent !important;
    border-bottom: 2px solid rgba(255,255,255,.4);
}

.navbar-brand img{
    width: 150px;
}

/*banner*/

.banner_hed{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.banner_hed h1{
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    color: #DAA520;
	padding : 0;
    letter-spacing: 1px;
}
.header{
    width: 100%;
    background-color: #CE0000;
}
.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 0 !important;
    list-style: none;
    background-color: transparent !important;
    border-radius: .25rem;
    color: #fff;
    font-size: 1.1rem;
    max-width: 28.125rem;
    margin: 0 auto;
    justify-content: center;
}
.breadcrumb li a{
    color: #fff !important;
    font-weight: 600;
}
.breadcrumb li{
    color: #fff !important;
}
.breadcrumb li i{
    color: #fff;
    font-size: 1.1rem;
    margin-right: 0.625rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #fff !important;
    content: "/";
}
/*banner end*/


/*abt strt*/
.srt-ct-logo{
    max-width: 400px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
}
.srt-ct-logo img{
    width: 100%
}
.srt-ct-logo:before{
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #DAA520;
    left: -85px;
}
.srt-ct-logo:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #DAA520;
    left: 35px;
}


/*contact strt*/
#cntct{
    padding: 60px 0;
    background-color: #fff;
    overflow: hidden;
}
#cntct .click{
    max-width: 150px;
    margin: 0 auto;
    padding: 10px 25px;
    background: #CE0000;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
}
.cntct-head{
    max-width: 600px;
    margin: 0 auto;
}
.cntct-head h1{
    color: #DAA520;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: 100;
    text-align: center;
    padding: 0;
    margin: 0;
}
.cntct-head span{
    color: #262626;
    font-family: 'Great Vibes', cursive;
}
.cntct-head p{
    line-height: 26px;
    color: #808080;
}
label{
    color: #000;
    font-weight: 400;
}
#map{
    max-width: 100%;
    height: 100%;
        }
/*contact end*/
.frm-cntnt{
background-color: #808080;
}


/*footer*/

footer{
	background-image:linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.7)),url(image/footer-bg.jpg);
	background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
	padding-top:50px;
}
.foote_links{
    text-align:left;
}
.foote_links{
    margin-bottom: 30px;
}
.foote_links ul li{
    padding-bottom: 15px;
    color: #fff;
    font-family: sans-serif;
}
.foote_links ul li a{
    color: #fff;
}
.foote_links .fa{
    color: #FFD700;
    margin-right: 10px;
}
.ftr_hed h1{
    font-family: sans-serif;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.ftr_hed span{
    padding-bottom: 10px;
    border-bottom: 4px solid #FFD700;
    border-radius: 2px;
}
.locations{
    border:1px solid silver;
    padding: 0 20px;
}
.locations{
    margin-bottom: 30px;
}
.loc_links ul li{
    font-size: 15px;
    color: #fff;
    font-family: sans-serif;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 10px 0;
    margin: 5px 0;
}
.loc_links ul li a{
    color: white;
}
.loc_links ul li:last-child{
    border-bottom: none;
}
.loc_links .fa{
    color: #FFD700;
    margin-right: 10px;
}
.loc_links ul li:last-child{
    border-bottom: none;
}
.photo_gallery{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.photo_gallery{
    margin-bottom: 30px;
}
.photo_gallery img{
    width: 100%;
    height: 100%;
}
.social_icons{
    margin-bottom: 30px;
}
.icon ul li{
    color: #fff;
    font-family: sans-serif;
    padding: 5px 0;
    margin: 5px 0;
}
.icon ul li a{
    color: white;
}
.icon img{
    margin-right: 15px;
    cursor: pointer;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-twitter-square{
    color: #00acee;
}
.fa-google-plus-square{
    color: #db4a39;
}
.fa-youtube-play{
    color: #FF0000;
}
.copy{
    margin-top: 30px;
    background-color: #CE0000;
    padding: 10px 0;
    text-align: center;
}
.copy small{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
#topBtn{
    position: fixed;
    width: 50px;
    height: 45px;
    background: #CE0000;
    bottom: 50px;
    right: 50px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
    display: none;
    z-index: 999;
}

/*footer end*/

/*responsive*/

@media screen and (max-width:400px){
    #banner{
        height: 450px;
    }
    .banner_hed{
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
    .banner_hed h1{
    display: none;
}
.banner_hed h2{
    color: #eee;
    font-size: 2rem;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.banner_hed h2 span{
    color: greenyellow;
}
.banner_hed p{
    display: none;
}
.btn{
    width: 140px;
    font-size: 1.2rem !important;
}
    .food-hed h1{
    font-size: 3.8rem;
}
.food-hed h4{
	font-size: 2rem;
	
}
    .blend-hed h1{
    font-size: 3.8rem;
}
.blend-hed h4{
	font-size: 2rem;
	
}
    .n_cont h1{
    font-size: 2rem;
}
    .service-tab .tab-bg {
    background: #fff;
    padding: 20px 20px 50px 20px;
    min-height: 100%;
}

.service-tab h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.service-tab h3 {
    margin-top : -15px;
    padding-left: 30px;
	font-size: 1.2rem;
}

.service-tab p {
	line-height : 20px;
    margin-bottom: 30px;
}

.btnnn{
    padding: 15px 25px;
    font-size: 14px;
    letter-spacing: 1px;
}
    #services-02{
    padding: 20px 0;
}
    .header-section .title {
    font-size: 2rem;
     margin: 0;
     padding: 0;
        margin-bottom: 25px;
}
   .header-section .description {
	font-size: 14px;
     
	line-height : 20px;
}
    .frm-head h1{
    font-size: 4rem;
    font-family: myFirstFont;
    color: #D4AF37;
    margin-bottom: 20px;
}
.frm-head h4{
    margin-top : -30px;
    padding-left: 0;
	font-size: 1.8rem;
	text-transform:uppercase;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 30px;
}
    .cntct-head h1{
    font-size: 2.7rem;
    
}
}


@media screen and (max-width:767px){
    
.abt_pic-2{
    position: inherit;
}
.abt_pic-1{
    border: none;
    position: inherit;
    right: 0;
    z-index: 0;
    margin-top: 0;
    margin-bottom: 30px;
}
    form{
        margin-bottom: 2.5rem;
    }
}
@media screen and (max-width:768px){
    .navi{
        width: 100%;
        background-color: #262626;
        border-bottom: 2px solid rgba(255,255,255,.4);
    }
    .navbar{
    background-color: #262626 !important;
    z-index: 99999999999999;
        border-bottom: none !important;
}
    .abt_content{
    margin: 0;
}
.abt_content h1{
    font-size: 3.5rem !important;
	padding : 0;
    margin: 0 !important;
}
.abt_content h4{
	margin-top : 0 !important;
	font-size: 1.2rem;
}
.abt_content p{
    color : #696969;
	line-height : 22px !important;
    text-align: justify;
}
    .rsrv-pic{
        display: none;
    }
}
@media screen and (max-width:992px){
    .abt_content{
    margin: 0;
}
.abt_content h1{
    font-family: myFirstFont;
    color: #D4AF37;
    font-size: 5rem;
	padding : 0;
}
.abt_content h4{
	margin-top : -25px;
	font-size: 2rem;
	text-transform:uppercase;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: #343a40;
}
.abt_content p{
    color : #696969;
	line-height : 27px;
    
}
}
@media screen and (max-width:600px){
    .cntct-head h1{
    font-size: 2.7rem;
    
}
}
